nav{
    background-color: rgb(181, 178, 178);
    padding:10%;
}
.intro{
    margin: 4%;
    font-size: 160%;
}
div .row{
    margin-top:3%;
    margin-bottom:5%;
}
section .col{
    font-size: 120%;
}
.distimg{
    width:45%;
}
.disttext{
    padding: 10px;
    text-align: justify;
    font-weight: 400;
}